<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-4">
            <h1 class="display-5">Grid system</h1>
            <p class="lead">Bootstrap includes a powerful mobile-first grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.
            </p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-4">
            <div id="overview" class="h4 mb-1 mt-1">Bootstrap Grid System</div>
            <p>We incorporate the <a href="http://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">Bootstrap grid system</a>, so you can get the layouts as you want. Based on a 12 column system, each column size (<code>col-sm-*)</code> applies to any one of 5 viewports. See the bootstrap documenation for more information.</p>
            <div class="p-1" ng-include src="'views/styles/grid/basic.html'" ></div>

            <div id="custom" class="h4 mt-3">Custom Grid System</div>
            <p>As an extention to the bootstrap grid system you can use a sub-grid divided by 5ths (12/5) in any of the available viewport sizes (<code>.col-*-5</code>, <code>.col-sm-*-5</code>, <code>.col-md-*-5</code>, <code>.col-lg-*-5</code>, <code>.col-xl-*-5</code>). </p>
            <div class="" ng-include src="'views/styles/grid/custom.html'" ></div>

            <div id="gutters" class="h4 mt-3">Gutter Size</div>
            <p>By default the grid system uses a 1.875rem (30px) gutter. You can decrease the gutters by appending <code>.row-sm</code> to the class<code>.row</code></p>
            <div class="p-1" ng-include src="'views/styles/grid/gutter.html'" ></div>

            <div id="nogutters" class="h4 mt-3">No Gutter</div>
            <p> The gutters between columns in our predefined grid classes can be removed with <code>.no-gutters</code>. This removes the negative margins from <code>.row</code> and the horizontal padding from all immediate children columns.</p>
            <div class="p-1" ng-include src="'views/styles/grid/nogutter.html'" ></div>

        </section>
        <aside class="aside-md border-left hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll sticky-top w-100" role="navigation" jumpmenu>
                <div class="text-muted text-uppercase hidden-nav padder mt-1 mb-1">On This Page:</div>
                <ul class="nav nav-main flex-column" data-ride="collapse">
                    <li class="nav-item active">
                        <a href="javascript:void(0)" data-target="#overview" class="nav-link  active">Bootstrap</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-target="#custom" class="nav-link ">Custom Grid</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link ">Gutter </a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" data-target="#gutters" class="nav-link ">Size</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" data-target="#nogutters" class="nav-link ">No Gutter</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>