<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-4">
            <h1 class="display-5">Mega Menu</h1>
            <p class="lead">Text</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-4">
            <div id="basic" class="h4 mb-1 mt-1">Overview</div>
            <p class="" ng-include src="'views/styles/mega-menu/mega-menu1.html'"></p>
        </section>
        <aside class="aside-md border-left hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll sticky-top w-100" role="navigation" jumpmenu>
                <div class="text-muted text-uppercase hidden-nav padder mt-1 mb-1">On This Page:</div>
                <ul class="nav nav-main flex-column" data-ride="collapse">
                    <li class="nav-item active">
                        <a href="javascript:void(0)" data-target="#overview" class="nav-link  active">Test</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>