<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-4">
            <h1 class="display-5">Dashboard Layout</h1>
            <p class="lead">When the user is presented with the dashboard it should be easily understood at a glance and not overwhelm. </p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-4">
            <div class="h6 font-bold mt-2 mb-1">Things to consider when design the dashboard:</div>
            <ul>
                <li>Define the value of building this dashboard. You shouldn’t build a dashboard just for the sake of having one. Establish the core question that this dashboard is trying to answer and what value the answer will provide. </li>
                <li>No matter which layout you choose, structure your information to draw the eye to the things that matter the most.</li>
                <li>To keep things simple, use a single font type, a limited color palette, and limited labels. Keep the dashboard clutter free and avoid putting too many charts in one place.</li>
                <li>Be mindful in labeling so understanding is immediate.</li>
                <li>To keep a dashboard easy to use, avoid too many advanced features such as filters and drill downs.</li>
            </ul>
            <div class="h6 font-bold mt-3">Dashboard Example: <a href="views/layouts/layouts/dashboard.html" target="_blank" class="">Open in the new tab</a></div>
            <div class="text-sm-center">
                <iframe src="views/layouts/layouts/dashboard.html" class="border-width-2 border-light pos-rlt mb-3 mt-2 border-box"  width="100%" height="600"></iframe>
            </div>
            <div class="text-sm-center text-muted m-b-3 text-sm">This is an example of how the dashboard view might be used.</div>
            <!--<div class="h6 font-bold mt-2 mb-1">Example Markup</div>-->
        </section>
    </div>
</div>