<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-4">
            <h1 class="display-5">Layout</h1>
            <p class="lead">A layout is a template consisting of structural components intended to deliver consistency and cohesiveness among pages in an application. It's commonly defined in terms of spacing, grid systems and sections and contains components such as application bars, navigation and drawers.</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-4">
            <div id="principles" class="h4 mb-1 mt-1">Design Principles</div>
            <p>The layouts provided reflect the following core design principals that are key to a quality experience. Before creating or selecting a layout, we encourage you to review these guidelines and adopt them as well.</p>
            <ul>
                <li><strong>Have a clear purpose</strong> - Understand what your user is trying to acheive and deliver the information they require.</li>
                <li><strong>Group related infomation</strong> - Organizing the information according to relationships makes it more efficient for users to work</li>
                <li><strong>Create a visual hierarchy</strong> - give the most important information the greatest prominence.</li>
                <li><strong>Provide context</strong> - Keep people aware of where they are. Ensure that the design is self-contained and avoid breaking people out of the experience</li>
                <li><strong>Simplify and Clarify</strong> - Reduce visual "noise". Create layouts that are lighter, faster and easy to read. Avoid distractions, jargon, and long loading times.</li>
                <li><strong>Be consistent</strong> - Choose layouts that are predictable and familiar, this creates an experience that is recognizable across products.</li>
            </ul>
             <div id="configurations" class="h4 mb-1 mt-3">Configurations and Examples</div>
            <p>A page layout can take on a number of different configurations, based on the use cases an application aims to support. Provided here are some of the most common layout structures, but you are free to create the layout that works best for you.</p> 
            <p>Use the layout classes below to create as simple or robust a layout as you need. For guidance on arranging elements follow the layout principles in creating layouts that make the most sense for your application.</p>
            <div class="row"">
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/vbox.html" target="_blank" class="">.vbox layout</a></div>
                    <div class="border border-width-2 border-light w-100"  style=":height: 100%;">
                        <section class="bg-light">
                            <div class="p-1">header</div>
                        </section>
                        <section style="height: 100px;">
                            <div class="p-1">content</div>
                        </section>
                        <footer class="bg-light">
                            <div class="p-1">footer</div>
                        </footer>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/vboxflex.html" target="_blank" class="">.vbox layout with .flex</a></div>
                    <div class="border border-width-2 border-light w-100"  style=":height: 100%;">
                        <section class="bg-light">
                            <div class="px-1 py-4">big header</div>
                        </section>
                        <section style="height: 60px;">
                            <div class="p-1">content</div>
                        </section>
                        <footer class="bg-light">
                            <div class="p-1">footer</div>
                        </footer>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/hbox.html" target="_blank" class="">.hbox layout</a></div>
                    <div>
                        <div class="app border border-width-2 border-light"  style="height: 168px;">
                            <div class="hbox">
                                <aside><div class="p-1 bg-light">aside</div></aside>
                                <section><div class="p-1">section</div></section>
                                <aside><div class="p-1 bg-light">aside</div></aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/hboxstretch.html" target="_blank" class="">.hbox layout with .stretch</a></div>
                    <div>
                        <div class="app border border-width-2 border-light"  style="height: 168px;">
                            <div class="hbox stretch">
                                <aside class="bg-light"><div class="p-1">aside</div></aside>
                                <section><div class="p-1">section</div></section>
                                <aside class="bg-light"><div class="p-1">aside</div></aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/hboxvbox.html" target="_blank" class="">.hbox nested with .vbox</a></div>
                    <div style=":height: 100px;">
                        <div class="border border-width-2 border-light d-flex align-items-stretch w-100"  style="height: 168px;">
                            <div class="p-1 bg-light">sidebar</div>
                            <div class="p-1">content</div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/vboxhbox.html" target="_blank" class="">.vbox nested with .hbox</a></div>
                    <div style=":height: 100px;">
                        <div class="border border-width-2 border-light w-100"  style=":height: 100%;">
                            <section class="bg-light dk">
                                <div class="p-1">header</div>
                            </section>
                            <section>
                                <div class="d-flex">
                                    <div class="p-1 bg-light">sidebar</div>
                                    <div class="w-full app" style="height: 132px;" >
                                        <div class="vbox">
                                            <section class="p-1">
                                                content
                                            </section>
                                            <footer>
                                                <div class="p-1 bg-light lter">footer</div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/container.html" target="_blank" class="">.container layout</a></div>
                    <div class="border border-width-2 border-light w-100"  style=":height: 100%;">
                        <section class="bg-light dk">
                            <div class="p-1">header</div>
                        </section>
                        <section >    
                            <div class="m-auto bg-light lt w-75" style="height: 100px;">
                                <div class="p-1">content</div>
                            </div>
                        </section>
                        <footer class="bg-light">
                            <div class="p-1">footer</div>
                        </footer>
                    </div>
                </div>
                <div class="col-3 mb-3">
                    <div class="h6 mb-2"><a href="views/layouts/layouts/containerfluid.html" target="_blank" class="">.container-fluid layout</a></div>
                    <div class="border border-width-2 border-light w-100"  style=":height: 100%;">
                        <section class="bg-light dk">
                            <div class="p-1">header</div>
                        </section>
                        <section >    
                            <div class="m-auto bg-light lt " style="height: 100px;">
                                <div class="p-1">content</div>
                            </div>
                        </section>
                        <footer class="bg-light dk">
                            <div class="p-1">footer</div>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="row"">
                
            </div>

           
            <!--
            <figure class="figure p-3">
                <img src="lib/images/docs/layoutExamples.png" class="figure-img img-fluid">
            </figure>
            <div class="row">
                <div class="col-sm-6">
                    <div class="h5 mb-2"><code>.hbox</code> layout</div>
                    <div class="" style="height:250px">
                        <div class="app border border-width-2 border-light">
                            <section class="hbox">
                                <aside class="border-light border-right">
                                    <div class="p-3">aside</div>
                                </aside>
                                <section class="p-3">section</section>
                                <aside class="border-left border-light">
                                    <div class="p-3">aside</div>
                                </aside>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h5 mb-2"><code>.vbox</code> layout</div>
                    <div style="height:250px">
                        <div class="app border border-width-2 border-light">
                            <section class="vbox">
                                <header class="header border-light border-bottom">
                                    <div class="py-2">header</div>
                                </header>
                                <section class="p-3">section</section>
                                <footer class="footer border-light border-top">
                                    <div class="py-2">footer</div>
                                </footer>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="h5 mb-2 mt-4"><code>.hbox</code> layout with <code>.stretch</code></div>
                    <div class="" style="height:250px">
                        <div class="app border border-width-2 border-light">
                            <section class="hbox stretch">
                                <aside class="border-right">
                                    <div class="p-3">aside</div>
                                </aside>
                                <section class="p-3">section</section>
                                <aside class="border-left">
                                    <div class="p-3">aside</div>
                                </aside>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h5 mb-2 mt-4"><code>.vbox</code> layout with <code>.flex</code></div>
                    <div style="height:250px">
                        <div class="app border border-width-2 border-light">
                            <section class="vbox flex">
                                <header class="header border-light border-bottom">
                                    <div class="py-2">Flex Content</div>
                                    <div class="py-2">Flex Content</div>
                                </header>
                                <section class="">
                                    <div class="p-3">Content</div>
                                </section>
                                <footer class="footer border-light border-top">
                                    <div class="py-2">footer</div>
                                </footer>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="h5 mb-2 mt-4"><code>.container</code> layout</div>
                    <div class="" style="height:250px">
                        <div class="border border-width-2 border-light" style="height: 100%;">
                            <section class="m-auto bg-light" style="height:100%; width: 80%;">
                                <div class="p-3">container</div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h5 mb-2 mt-4"><code>.container-fluid</code> layout</div>
                    <div style="height:250px">
                        <div class="" style="height:250px">
                            <div class="border border-width-2 border-light" style="height: 100%;">
                                <section class="m-auto bg-light" style="height:100%; width: 100%;">
                                    <div class="p-3">container-fluid</div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-sm-center">
                <iframe src="views/layouts/layouts/default.html" class="border-width-2 border-light pos-rlt mb-3 mt-2 border-box"  width="100%" height="500"></iframe>
            </div>
            -->
            <div id="classes" class="h4 mb-1 mt-3">Classes</div>
            <p>This table gives you a quick overview of the CSS classes that can be applied to create various layouts.</p>
            <div class="table-responsive m-t-lg">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 200px">Class</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.app</code></td>
                            <td>Applied to the <code>&lt;html&gt;</code> tag to create a full-screen application layout</td>
                        </tr>
                        <tr>
                            <td><code>.hbox</code></td>
                            <td>Horizontal wrapper that can contain columns. To create columns add <code>.aside</code>. Atternately used with the bootstrap grid system.</td>
                        </tr>
                        <tr>
                            <td><code>.stretch</code></td>
                            <td>Sets the <code>.hbox</code> to 100% height in an application layout</td>
                        </tr>
                        <tr>
                            <td><code>.aside-*</code></td>
                            <td>Defines a column inside an <code>.hbox</code>. Set the width of the aside using <code>.aside-*</code>. Available sizes are <code>-xxs</code>, <code>-xs</code>, <code>-sm</code>, <code>-md</code>, <code>-lg</code>, <code>-xl</code>, and <code>-xxl</code>.</td>
                        </tr>
                        <tr>
                            <td><code>.vbox</code></td>
                            <td>Vertical wrapper that can contain a <code>&lt;header&gt;</code>, scrollable <code>&lt;section&gt;</code> and <code>&lt;footer&gt;</code> in an application layout.</td>
                        </tr>
                        <tr>
                            <td><code>.flex</code></td>
                            <td>Allows for a flexible height of the <code>&lt;header&gt;</code> the <code>&lt;footer&gt;</code> in <code>.vbox</code> layout</td>
                        </tr>
                        <tr>
                            <td><code>.header</code></td>
                            <td>Sets the height of the <code>&lt;header&gt;</code> tag in a <code>.vbox</code> layout. A <code>.header-md</code> can be applied as well to increase the height of the <code>&lt;header&gt;</code></td>
                        </tr>
                        <tr>
                            <td><code>.scrollable</code></td>
                            <td>Applied to the <code>&lt;section&gt;</code> tag in a <code>.vbox</code> layout. Makes the main content area scrollable</td>
                        </tr>
                        <tr>
                            <td><code>.w-f</code></td>
                            <td>Applied to the <code>&lt;section&gt;</code> tag in a <code>.vbox</code> layout. Reduces the height of the main content allowing when a <code>&lt;footer&gt;</code> is applied.</td>
                        </tr>
                        <tr>
                            <td><code>.footer</code></td>
                            <td>Sets the height of the <code>&lt;footer&gt;</code> tag in a <code>.vbox</code> layout.</td>
                        </tr>
                        <tr>
                            <td><code>.page-wrapper</code></td>
                            <td>Beside vbox and hbox layout you can use <code>.page-wrapper</code> to create the layout for your application by apply it inside the <code>&lt;body&gt;</code> tag. Wrap your page with <code>.main-content</code> and add <code>.site-footer</code> below it. This layout will flush the footer to the bottm of the page even though the content inside <code>.main-content</code> is shorter than the height of the page.</td>
                        </tr>
                        <tr>
                            <td><code>.container</code></td>
                            <td>Containers are the most basic layout element in Bootstrap and are required when using our default grid system. Add this class for fixed-width container.</td>
                        </tr>
                        <tr>
                            <td><code>.container-fluid</code></td>
                            <td>Use for a full width container, spanning the entire width of the viewport.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--
            <div id="types" class="h4 mb-1 mt-3">Layout Types</div>
            <p>A type refers to either the function of a page — for example, a Home page —or its layout, such as master-detail.</p>
            <hr class="m-y-2">
            <div class="h5 mb-1"><a href="#/layouts/form">Form Layout</a></div>
            <p>Forms are the primary place where users interact with an application to complete tasks; they allow a user to enter and read data. For example, forms can be used to enter billing or product information when creating an order. Forms can contain Text Fields, Text Areas, Select Dropdowns, Radio Buttons, Checkboxes, File Uploads, Date Pickers, and other methods of input.</p>
            <hr class="m-y-2">
            <div class="h5 mb-1"><a href="#/layouts/masterDetail">Master-Detail Layout</a></div>
            <p>A master-detail groups together two layout views in a one-to-many relationship. The information on the entire page displays one or more master objects and displays a detail object based on selection of a master. This is often expressed in a Split View consisting of two side-by-side panels: an item list and the selected item’s details but may also include a drilldown or a popup.</p>
            <hr class="m-y-2">
            <div class="h5 mb-1"><a href="#/layouts/splitView">Table Layout</a></div>
            <p>A table is the most basic format for displaying a list. Each record is represented by a single row of data that begins with the record’s primary field and shows additional fields in subsequent columns. The data is labeled using column headers that can be interactive.</p>
            -->
        </section>
        <aside class="aside-md border-left hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll sticky-top w-100" role="navigation" jumpmenu>
                <div class="text-muted text-uppercase hidden-nav padder mt-1 mb-1">On This Page:</div>
                <ul class="nav nav-main flex-column" data-ride="collapse">
                    <li class="nav-item active"><a href="javascript:void(0)" data-target="#principles" class="nav-link active">Design Principles</a></li>
                    <!--<li class="nav-item"><a href="javascript:void(0)" data-target="#examples" class="nav-link">Examples</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#types" class="nav-link">Types</a></li>-->
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#configurations" class="nav-link">Configurations</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#classes" class="nav-link">Classes</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>