<button class="btn btn-outline-primary">Primary</button>
<button class="btn btn-outline-secondary">Secondary</button>
<button class="btn btn-outline-success">Success</button>
<button class="btn btn-outline-info">Info</button>
<button class="btn btn-outline-warning">Warning</button>
<button class="btn btn-outline-danger">Danger</button>
<button class="btn btn-outline-secondary disabled">Disabled</button>
<br>
<button class="btn btn-outline-dark mt-1">Dark</button>
<button class="btn btn-outline-black mt-1">Black</button>
<div class="p-2 bg-black mt-1 w-25">
	<button class="btn btn-outline-white">White</button>
</div>
<button class="btn btn-outline-dark border-width-2 mt-1">Dark</button>
<button class="btn btn-outline-dark border-width-3 mt-1">Dark</button>
<button class="btn btn-outline-dark border-width-4 mt-1">Dark</button>
<button class="btn btn-outline-dark border-width-5 mt-1">Dark</button>