<button class="btn btn-primary btn-rounded">Primary</button>
<button class="btn btn-secondary btn-rounded">Secondary</button>
<button class="btn btn-success btn-rounded">Success</button>
<button class="btn btn-info btn-rounded">Info</button>
<button class="btn btn-warning btn-rounded">Warning</button>
<button class="btn btn-danger btn-rounded">Danger</button>
<button class="btn btn-secondary btn-rounded disabled">Disabled</button>
<div class="mt-1">
	<button class="btn btn-dark btn-rounded">Dark</button>
	<button class="btn btn-black btn-rounded">Black</button>
</div>
<div class="p-2 bg-black mt-1 w-25s">
	<button class="btn btn-white btn-rounded">White</button>
</div>