<div class="btn-group dropup">
    <button data-toggle="dropdown" class="btn btn-sm btn-secondary dropdown-toggle">
        <span class="dropdown-label">Option1</span>
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-select">
        <a href="javascript:void(0)" class="dropdown-item active">
            <input type="radio" name="d-s-r" checked="">Option1
        </a>
        <a href="javascript:void(0)" class="dropdown-item">
            <input type="radio" name="d-s-r" checked="">Option2
        </a>
        
    </div>
</div>