<div class="row no-gutters mb-1 small">
    <div class="col-sm-3">
        <div class="p-3 bg-light border">
            col-sm-3
        </div>
    </div>
    <div class="col-sm-3">
        <div class="p-3 bg-light border">
            col-sm-3
        </div>
    </div>
    <div class="col-sm-3">
        <div class="p-3 bg-light border">
            col-sm-3
        </div>
    </div>
    <div class="col-sm-3">
        <div class="p-3 bg-light border">
            col-sm-3
        </div>
    </div>
</div>
