<span class="avatar avatar-lg bg-light dk mr-3 mb-3">
	<img class="img-fluid" src="/lib/images/avatar_default_female.png" alt="">
</span>
<span class="avatar avatar-lg rounded bg-light dk mr-3 mb-3">
	<img class="img-fluid" src="/lib/images/avatar_default_female.png" alt="">
</span>
<span class="avatar avatar-lg rounded-circle bg-light dk mr-3 mb-3">
	<img class="img-fluid" src="/lib/images/avatar_default_female.png" alt="">
</span>
<span class="avatar avatar-lg img-thumbnail mr-3 mb-3">
	<img class="img-fluid bg-light dk" src="/lib/images/avatar_default_female.png" alt="">
</span>
