<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="on border-white"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="on border-white top right"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="on border-white bottom"></i>
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="on border-white bottom right"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">	
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="on md border-white bottom right"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">	
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="away md border-white bottom right"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">	
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="off md border-white bottom right"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">	
</span>
<span class="avatar rounded-circle bg-light dk m-r m-b">
	<i class="busy md border-white bottom right"></i> 
	<img class="img-fluid" src="/assets/images/avatar_default_female.png" alt="">	
</span>

