<span class="avatar avatar-lg rounded-circle bg-light dker mr-3 mb-3">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-md rounded-circle bg-light dker mr-3 mb-3">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar rounded-circle bg-light dker mr-3 mb-3">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-sm rounded-circle bg-light dker mr-3 mb-3">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-xs rounded-circle bg-light dker mr-3 mb-3">
	<span class="avatar-text ">MM</span>
</span>
