<span class="avatar rounded-circle bg-primary mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>
<span class="avatar rounded-circle bg-success mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>
<span class="avatar rounded-circle bg-info mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>
<span class="avatar rounded-circle bg-danger mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>
<span class="avatar rounded-circle bg-warning mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>
<span class="avatar rounded-circle bg-light dk mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>
<span class="avatar rounded-circle bg-dark mr-3 mb-3">
	<img class="img-fluid" src="/assets/images/avatar_default.png" alt="">
</span>