<span class="avatar avatar-lg rounded-circle bg-light dk mr-3 mb-3">
	<img class="img-fluid" src="/lib/images/avatar.jpg" alt="">
</span>
<span class="avatar avatar-lg rounded-circle bg-light dk mr-3 mb-3">
	<span class="avatar-text">MM</span>
</span>
<span class="avatar avatar-lg rounded-circle bg-light dk mr-3 mb-3">
	<img class="img-fluid" src="/lib/images/avatar_default.png" alt="">
</span>
<span class="avatar avatar-lg rounded-circle bg-light dk mr-3 mb-3">
	<i class="on border-white bottom right"></i> 
	<img class="img-fluid" src="/lib/images/avatar_default_female.png" alt="">
</span>