<nav class="navbar navbar-header navbar-light bg-white box-shadow d-flex flex-row">
    <div class="d-flex flex-row">
    	<a href="javascript:void(0)" class="nav-link navbar-toggler border-0 rounded-0 " data-toggle="class:nav-off-screen,hide" data-target="#exCollapsingNavbar">
            <i class="fa fa-bars fa-fw "></i>
        </a>
    </div>
    <a href="javascript:void(0)" class="navbar-brand p-0 hidden-xs-down d-flex mx-auto" data-toggle="fullscreen"> <img src="lib/images/logo_dark.png" height="50" class="mr-5"></a>
    <a href="javascript:void(0)" class="navbar-brand p-0 hidden-sm-up d-flex mx-auto" data-toggle="fullscreen"> <img src="lib/images/logo_dark_sm.png" height="50" class="mr-5"></a>
</nav>