<div class="alert alert-success striped bg-success " role="alert">
    <i class="fa fa-wrench fa-lg fa-fw"></i> Scheduled Maintenance Notification: Sunday March 15, 8:00 AM–10:00 EST <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>
<div class="alert alert-info striped bg-info " role="alert">
    <i class="fa fa-info-circle fa-lg fa-fw"></i> Spark UI 2.0 is Coming! <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>
<div class="alert alert-warning striped bg-warning " role="alert">
    <i class="fa fa-warning fa-lg fa-fw"></i> You are in offline mode. <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>
<div class="alert alert-danger striped bg-danger " role="alert">
    <i class="fa fa-ban fa-lg fa-fw"></i>Your browser is currently not supported. <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>