<div class="dropdown">
  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	Dropdown button
  	</button>
  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" href="javascript:void(0)">Action</a>
	    <a class="dropdown-item" href="javascript:void(0)">Another action</a>
	    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
  	</div>
</div>

