<div class="row">
	<div class="col-sm-4">
		<div class="dropdown">
		  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	Dropdown button
		  	</button>
		  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: static; display:block;">
			    <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-columns icon-muted mt-1 mr-2"></i>Action</a>
			    <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-table icon-muted  mt-1 mr-2"></i>Another action</a>
			    <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-th-large icon-muted  mt-1 mr-2"></i>Something else here</a>
		  	</div>
		</div>
	</div>
</div>