<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob Thornton</td>
            </tr>
        </tbody>
    </table>
</div>
<p class="mt-2">Add <code>.table-lg</code> to the <code>.table</code> to increase the tables padding.</p>
<div class="table-responsive">
    <table class="table table-lg">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob Thornton</td>
            </tr>
        </tbody>
    </table>
</div>